/* Styles pour le conteneur centré */
.conteneurAccueil1 {
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    color: aliceblue;
    gap: 20px;

}
.conteneurPartie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;

}

/* styles.css */

/* Styles pour le conteneur gridcontainer */
.gridcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;

}

/* Styles pour les boutons */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #af6d4c;
    color: white;
    padding: 10px 0px;
    margin: 10px 10px;
    border: 2px solid #af6d4c;
    border-radius: 30px;
    box-shadow: #333;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    width: 40%;
}

/* Hover effect for buttons */
.button:hover {
    background-color: #104c13;
}

/* Styles de base pour l'élément */

.item1 {
    grid-area: header;
    background-color: #eff8f4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
    width: 50%;
    margin: 0 auto;
   
    font-size: 1.5em;
    color: #333;

    margin: 0 auto;
    background-color: #cfc4c4;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
span{
    color: #fb911f;
    font-weight: bold;
}



/* Styles pour la grille d'images */
.gridContainerImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Styles pour chaque image */
.itemImg,
.itemMask {
    flex: 1;
    max-width: 100%;
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    /* Centrer horizontalement */
    align-items: center;
    /* Centrer verticalement */
}

/* Styles pour les images */
.itemImg img,
.itemMask img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border: 3px solid #fb911f;
    padding: 10px;
    border-radius: 30px;
}

.itemImg img,
.itemMask img {
    width: 450px;
    height: 300px;
}


/* Ajoutez ce CSS à votre fichier CSS pour organiser les éléments dans une grille */
/* Styles pour la grille */
.resultat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;

}

.item5 {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}


.start {
    flex: 1;
    color: #fff;
}

.column {
    flex: 1;
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 30px;
    margin: 5px;
}

.column p {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(235, 228, 228);
    text-align: left;
    margin: 10px 25px;
}




/* Styles pour les éléments de chaque colonne */
.resultPreduc {
    display: flex;


    margin: 10px 0;
    font-size: 1.2rem;

}

.resultPreduc p {
    width: 40%;

}
.beninMalin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    background-color: #cfc4c4;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

}
.malinR,.beninR{
    width: 40%;
    
    


}
.malinR p,.beninR p{
    color: #333;}
    
/* Styles par défaut pour .styles.ConteneurdiagnosInfo */
.ConteneurdiagnosInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
    background-color: #cfc4c4;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    /* Ajoutez d'autres propriétés CSS selon vos besoins */
}

.ConteneurInfo {
    width: 40%;
}

.Conteneurdiagnos {
    width: 40%;
   
}
.ligne{
    width: 50%;
    margin:0 auto ;
    display: flex;
    flex-direction: column;
    
    
}



/* Styles spécifiques pour les écrans étroits (max-width: 767px) */
@media screen and (max-width: 767px) {

    /* Réduisez la largeur des boutons pour s'adapter à de petits écrans */
    .gridcontainer {
        width: 90%;
    }

    .button,
    .ConteneurInfo,
    .Conteneurdiagnos {
        width: 100%;
    }

    .item1 {
        font-size: 12px;
        font-weight: 900;
        /* Réduire la taille de la police pour les petits écrans */
    }

    /* Réorganisez les images en une seule colonne pour les petits écrans */
    .gridContainerImages {
        flex-direction: column;

    }


    /* Styles spécifiques pour chaque image en mode étroit */
    .item3,
    .item4 {
        max-width: 100%;
        text-decoration: none;
        
    }

    /* Réorganisez les colonnes en une seule colonne pour les petits écrans */
    .item5 {
        grid-template-columns: 1fr;
    }

    /* Styles spécifiques pour chaque colonne en mode étroit */
    .column {
        margin-bottom: 20px;
    }

    .ConteneurdiagnosInfo {
        width: 95%;
    }
    .malinR,.beninR{
        width: 100%;}
        
}