.conteneur {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #474545;
  height: 75vh;
}
.conteneur h2{
  color: #ccc;
}

.conteneur2 {
  display: flex;
  margin-bottom: 20px;
  color: #ccc;
  font-weight: bold;
}

.resultat {
  flex: 1;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: auto;
  
}
.col{
  color: black;
}

.tableau {
  width: 70%;
  padding-left: 30px
 
}

.tableau th,
.tableau td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.tableau th {
  background-color: #f2f2f2;
}

/* Enlarge the image */
.tableau td img {
  max-width: 200px;
  max-height: 200px;
}
.tablecontainer h2{
  color: #f0f0f0;
}
.tablecontainer p{
  color: #241b1b;
}
.tablecontainer {
 padding: 20px;
}



/* Styles lorsque la largeur de l'écran est inférieure à 768px (ajustez cette valeur selon vos besoins) */
@media screen and (max-width: 768px) {
  .conteneur2 {
    width: 80%;
  }
  
}